@import '~antd/dist/antd.less';

.login-form-wrapper{
    padding: 2em;
    padding-bottom: 3em;
    border-radius: 8px;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 10px 40px -14px rgba(0,0,0,0.25);
  }


.cool-container {
    text-align: center;
    width: 100%; 

}

.cool-content {
    display: inline-block;
    width: 100%;

}

.cool-form-wrapper{
    padding: 2em;
    padding-bottom: 3em;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 10px 40px -14px rgba(0,0,0,0.25);
}

.cool-chart-form-wrapper{
    padding: 2em;
    padding-bottom: 3em;
    border-radius: 8px;
    justify-content: center;
    box-shadow: 0 10px 40px -14px rgba(0,0,0,0.25);
}

.site-page-header {
    border: 1px solid rgb(235, 237, 240);
}

Table {
  font-size: 12px;
}


Table > tbody > tr > td  {
  height: 3px;
  padding: 0px;
  margin: 0px;
}
